*{
    margin: 0rem;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: rgb(221, 217, 217);
}

.container{
    width: 100%;
    height: 100vh;
    border-radius: 0 0;
    display: flex;
    flex-wrap: wrap;

}    
.imagem-div {
    background-color: #fff;
    width: 210px;
    height: 150px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 2px;
    border-radius: 15px;
    overflow-y: hidden;
    align-items: center;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.imagem-div img {
    width: 100%;
    height: 17vh;
}

.imagem-texto {
    position: relative;
    z-index: 1;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    bottom: 70%;
    font-size: 2em;
}
