body{
    background-color: black;
}
div-1{
    background-color: #fff;
    width: 200px;
    height: 100px;
}
div-2{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-3{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-4{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-5{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-6{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-7{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-8{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-9{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-10{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-11{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-12{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-13{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-14{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-15{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-16{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-17{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-18{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-19{
    background-color: #fff;
    width: 200px;
    height: 100px;
}
div-20{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-21{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-22{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-23{
    background-color: #fff;
    width: 200px;
    height: 100px;
}
div-24{
    background-color: #fff;
    width: 200px;
    height: 100px;
}div-25{
    background-color: #fff;
    width: 200px;
    height: 100px;
}
img[alt='toy1']{
    width: 100px;
}
